@import '../../../node_modules/@coreui/coreui/scss/coreui.scss';
@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$carousel-control-color: $high-emphasis-inverse;
$carousel-control-width: 15%;
$carousel-control-opacity: .5;
$carousel-control-hover-opacity: .9;
$carousel-control-transition: opacity .15s ease;

$carousel-indicator-width: 30px;
$carousel-indicator-height: 3px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer: 3px;
$carousel-indicator-opacity: .5;
$carousel-indicator-active-bg: $white;
$carousel-indicator-active-opacity: 1;
$carousel-indicator-transition: opacity .6s ease;

$carousel-caption-width: 70%;
$carousel-caption-color: $high-emphasis-inverse;
$carousel-caption-padding-y: 1.25rem;
$carousel-caption-spacer: 1.25rem;

$carousel-control-icon-width: 2rem;

$carousel-control-prev-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
$carousel-control-next-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

$carousel-transition-duration: .6s;
$carousel-transition: transform $carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)

$carousel-dark-indicator-active-bg: $black;
$carousel-dark-caption-color: $high-emphasis;
$carousel-dark-control-icon-filter: invert(1) grayscale(100);

.carousel {
    padding: 20px;
    width: 80%;
    height: 80%;
}

.carousel-inner {
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.project {
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/green-gradient.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.glass {
    height: fit-content;
    width: 80%;
    background: inherit;
    padding: 20px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.glass:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .15);
    filter: blur(10px);
    background: inherit;
    margin: -20px;
}

.shadow {
    background-color: #0E1B16;
    opacity: 70%;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.text {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#title {
    font-family: 'Poltawski Nowy';
}

#blurb {
    font-family: 'Montserrat';
}


// to correct for hidden overflow on larger screens

@media screen and (min-width: 1000px) {

    .project {
        height: 100%;
    }
}