@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.nav-bar {
    background-color: #0E1B16;
    height: fit-content;
    padding: 20px;
}

.nav-tab {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

ul li {
    margin: 5px;
}

.nav a {
    text-decoration: none;
    cursor: pointer;
    font-family: 'Montserrat';
    color: white;
}

.nav a:hover {
    border: solid white 3px;
    color: white;
    border-radius: 50px;
    transition: 300ms;
}